@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
}

.app {
  width: 100%;
  min-height: 100vh;
  /*background: url(/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.wrapper {
  display: inline-block;
  background:  rgba(0, 0, 0, .5);
  padding: 24px;
  border-radius: 2px;
  text-align: center;
  margin: 15vh 0 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
  max-width: 600px;
}
.me-avatar {
  max-width: 128px;
  width: 100%;
  border-radius: 100%;
  border: solid 2px #ffffff;
}
.wrapper * {
  color: #ffffff;
}
.wrapper a:hover {
  text-decoration: underline;
}

.text-small {
  font-size: 12px;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .2) url(/grid.png);
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}