@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: url(/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.wrapper {
  display: inline-block;
  color: #ffffff;
  background:  rgba(0, 0, 0, .5);
  padding: 24px;
  border-radius: 2px;
  text-align: center;
  margin: 15vh 0 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
  max-width: 600px;
}
.me-avatar {
  max-width: 128px;
  width: 100%;
  border-radius: 100%;
  border: solid 2px #ffffff;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
}